<section>
    <div class="main">
        <div class="title">
            <p id="title">FAQ</p>
        </div>
        <div class="questions">
            <p id="questions">Frequently asked questions</p>
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <div class="somethings">
            <p id="somethings">What is an FAQ section?</p>
            <p id="somethings">Why do FAQs matter?</p>
            <p id="somethings">Where can I add my FAQs?</p>
        </div>
    </div>
</section>