<section>
    <div class="bot-info">
      <div class="info">
        <div class="title">
          <p id="about-title">About</p>
        </div>
        <p id="about-p">I'm a paragraph. Click here to add your own text and edit</p>
        <p id="about-p">me. It’s easy. Just click “Edit Text” or double click me to</p>
        <p id="about-p">add your own content and make changes to the font. I’m a</p>
        <p id="about-p">great place for you to tell a story and let your users know a</p>
        <p id="about-p">little more about you.</p>
      </div>
    </div>
  </section>