<section>
    <div class="contact">
        <div class="contact-title">
            <p class="title">Contact</p>
            <p class="welcome">You're welcome to contact us with any inquiry</p>
            <span class="tel"> Tel: 123-456-7890    |    info@mysite.com</span>
        </div>
        <div class="contact-inputs">
            <label for="">First Name</label>
            <input class="normal-input" type="text">
            <label for="">Last Name *</label>
            <input class="normal-input" type="text">
            <label for="">Email *</label>
            <input class="normal-input" type="text">
            <label for="">Phone</label>
            <input class="normal-input" type="text">
            <label for="">Massage *</label>
            <textarea class="massage" name="" id="" cols="30" rows="10"></textarea>
            <div class="contact-btn">
                <button id="btn">Submit</button>
            </div>
        </div>
    </div>
</section>