<section >
    <h1 class="name">{{animeInfo.title}}</h1>
    <div class="container">
        <div class="firsthalf">
            <div class="photos">
                <div id="carouselExampleFade" class="carousel slide carousel-fade">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img [src]="animeInfo.images.jpg.large_image_url" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img [src]="animeInfo.images[1].source" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img [src]="animeInfo.images[2].source" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img [src]="animeInfo.images[3].source" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img [src]="animeInfo.images[4].source" class="d-block w-100" alt="...">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
            </div>
            <div class="about-text">
                <div class="text">
                    <p>I'm a product description. I'm a great place to add more details about your product such as sizing, material, care instructions and cleaning instructions.</p>
                </div>
            </div>
        </div>
        <div class="secendhalf">
            <p class="price">cost: {{animeInfo.pricePerNight}}$</p>
            <p class="maxguests">maximum amount of guests: {{animeInfo.maximumGuests}}</p>
            <p class="available">available: {{animeInfo.available}}</p>
            <div class="order">
                <button class="cart">Add to cart</button>
                <button type="button" class="book" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Book the room</button>
            </div>
            <div class="about">
                <h6>product info</h6>
                <p>I'm a product detail. I'm a great place to add more information about your product such as sizing, material, care and cleaning instructions. This is also a great space to write what makes this product special and how your customers can benefit from this item.</p>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">{{animeInfo.name}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="popup">
          <h4>Select a date</h4>
          <input type="date" class="calendar">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="setDate">Save</button>
      </div>
    </div>
  </div>
</div>