<section>
    <div class="contact">
        <div class="info">
            <div class="information">
                <div id="info">
                    <p id="information">Shipping & Returns</p>
                    <p id="information">Store Policy</p>
                    <p id="information">Payment Methods</p>
                </div>
                <div id="info">
                    <p id="information">Contact</p>
                    <p id="information">Tel: 123-456-7890</p>
                    <a href="#" id="information">info@mysite.com</a>
                </div>
                <div id="info">
                    <p id="information">Facebook</p>
                    <p id="information">Instagram</p>
                    <p id="information">Pinterest</p>
                </div>
            </div>
            <div class="account">
                <p id="email">Join our mailing list and never miss an update</p>
                <div class="email-input">
                    <input type="text" id="email-input" placeholder="Email*">
                    <button class="btn">Subscribe now</button>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="powered">
    <p>© 2035 by Tote. Powered and secured by Wix</p>
</div>